<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
    <%= link_to "The Chicago Vaccination Project", root_path, id: "logo" %>
    <nav>
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to "Home", root_path %></li>
        <li><%= link_to "Vaccines for CPS", vaccines_cps_path %></li>
        <li><%= link_to "Value of Vaccines", value_vaccines_path %></li>
        <li><%= link_to "Immunization Levels", immunization_levels_path %></li>
        <li><%= link_to "Clinic Finder", clinic_finder_path %></li>
      </ul>
    </nav>
  </div>
</header>
